/* Variables */ 
$font-one: 'Open Sans', sans-serif;
$font-two: 'Circular-Loom';

$font-color-one: white;
$font-color-two: gold;

/* Global */
body {
    font-family: $font-one;
    margin: 0;
    height: 100%;
}

/* Splash-navigation */
.title-brand {
    color: $font-color-two;
    font-family: $font-two;
    font-family: cursive;
    margin: 0 10px 0 90px;
    width: 20%;
    position: relative;
    border: 1px solid red;
}

.splash-navigation {
    width: 100%;
    margin: 0 50px;
    border: 1px solid green;
    display: flex;
}

.splash-navigation ul {
    list-style-type: none;
    margin: 0 0 0 90px;
    text-align: right;
    border: 1px solid yellow;
}

.splash-navigation ul li {
    display: inline-block;
    margin: 0 5px 0 10px;
}

.splash-navigation a {
    color: $font-color-one;
    text-decoration: none;
}

/* Splash */
.splash {
    background-image: url('https://zapodaj.net/images/1bc916d04a428.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    display: flex;
}

.splash-inner {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
}

.splash-inner a {
    color: $font-color-one;
    text-decoration: none;
}

.page-title {
    font-family: $font-two;
    font-family: cursive;
    color: $font-color-one;
}

.page-subtitle {
    color: $font-color-one;
    font-size: 40px;
}

/* Services */ 
    
.services ul {
list-style-type: none;
}

/* Our portfolio */
.our-portfolio {
    position: relative;
    background-color: hsl(0, 0%, 90%);
    display: block;
}

.our-portfolio ul {
    list-style-type: none;
}

.our-portfolio ul li {
    position: relative;
    min-height: 300px;
    flex: 0 0 50%;
}

.portfolio-image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 300px;
}

